export("entry.value<-")
export(bary2cart)
export(cart2bary)
export(convhulln)
export(delaunayn)
export(distmesh2d)
export(distmeshnd)
export(dot)
export(entry.value)
export(extprod3d)
export(matmax)
export(matmin)
export(matorder)
export(matsort)
export(mesh.dcircle)
export(mesh.diff)
export(mesh.drectangle)
export(mesh.dsphere)
export(mesh.hunif)
export(mesh.intersect)
export(mesh.union)
export(polyarea)
export(surf.tri)
export(tetramesh)
export(trimesh)
export(tsearch)
export(tsearchn)
export(Unique)
import(magic)
useDynLib(geometry)
