export(rp.panel, rp.do, rp.panelname, rp.control, rp.slider,
rp.textentry, rp.button, rp.checkbox, rp.radiogroup,
rp.doublebutton, rp.image, rp.line, rp.deleteline, rp.clearlines,
rp.messagebox, rp.tkrplot, rp.tkrreplot, rp.block, rp.power,
rp.rmplot, rp.tables, rp.plot3d, rp.regression, rp.regression2, rp.ancova,
rp.gulls, rp.pos, .rpenv, rp.listbox, rp.menu, rp.mururoa, rp.firth,
rp.geosim, rp.grid, rp.likelihood, rp.logistic, rp.normal, rp.ci,
rp.cartoons)
